@font-face{
    font-family:openSans;
    src: url("openSans.woff2") format("woff");
}
.square{
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
#deletable{
    
}
.expression{

}
.window{
    background-color: rgb(255, 255, 255);
    border: solid;
    border-color: var(--tuni-color);
    border-width: 1px;
    border-radius: 20px;
    color:black;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
.inversed{
    background-color:var(--tuni-color);
    border-color: white;
    color:white;
}
#expHolder{
    display: flex;
     max-width: fit-content;
     margin: auto; 
     gap: 10px;
     padding: 10px;
}
.button:hover{
    font-family: openSans;
    background-color:var(--tuni-color);
    border-radius: 50vh;
    border: 1px solid;
    color: white;
    font-size: large;
    padding: 0.5em 1em;
}

:root{
    --tuni-color: #4E008E;
    --right: #9dffa7;
    --wrong: #ff9d9d;
}
.button{
    font-family: openSans;
    border-radius: 50vh;
    background-color: white;
    border: 1px solid var(--tuni-color);
    color: var(--tuni-color);
    font-size: large;
    padding: 0.5em 1em;
}
